
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

<head>
<title>Marc Del&eacute;glise</title>
<meta http-equiv="Content-Type" content="text/html ; charset=utf-8"/>
<meta name="author" content="Marc Del&eacute;glise"/>
<meta name="keywords" content="Th&eacute;orie des Nombres, Arithm&eacute;tique,
			       Calculs, Nombres premiers, Dobble,
Lumi&egrave;ree, couleur, photo"/>
<meta name="description" content="Page personnelle d'un math&eacute;maticien
				  sp&eacute;cialiste de th&eacute;orie algorithmique
				  des nombres."/>
<meta name="Copyright" content="2013 Marc Del&eacute;glise"/>
<meta name="Robots" content="All"/>
<link rel="stylesheet" type="text/css" media="screen" href="static/home.css"/>
</head>


<body>
<div class="title">
   <img src="static/Images/newmar.jpg"  alt="Photo Marc Deleglise"/>
   <h1>Marc Del&eacute;glise</h1>
    <div class="menuline">
    <span class="box"><a href="calculs.html">Calculs</a></span>
    <span class="box"><a 
     href="publications.html"> Publications</a></span>
   <span class="box"><a  href="loisirs.html">Loisirs</a></span>
<!--
  <span class="box"><a href="nonpublies.html">Travaux non publi&eacute;s</a></span>
-->
    <span class="box"><a href="liens.html">Liens</a></span>
   </div>

   <a href="http://www.univ-lyon1.fr">Universite Lyon1</a><br/>
  Maitre de Conferences (retrait&eacute;) <a href="http://math.univ-lyon1.fr"> Institut Camille Jordan</a>
  <br/>
   m.h.deleglise(at)gmail.com
  <!--
  <a
   href="https://plus.google.com/117047286017320449652/photos">
  (albums google+)</a>
  <a
  href="https://plus.google.com/u/0/b/115489331638832654989/115489331638832654989/photos">
  (page google+</a>)
  -->
  <a href="https://plus.google.com/115489331638832654989/about" rel="publisher">(Google+)</a>
  <br/>
</div>
  
<div class="page">
<h1>Int&eacute;r&ecirc;ts </h1>

</body> </html>

<p> Je m'int&eacute;resse &agrave; la Th&eacute;orie des nombres avec
un go&ucirc;t particulier pour le calcul (cf. <a href =
"./PDF/nicolas60.pdf"> expos&eacute; &agrave; Luminy </a> pour les 60
ans de <a
 href="http://math.univ-lyon1.fr/~nicolas">J.-L. Nicolas</a>). Il peut
s'agir du calcul de grandes valeurs de fonctions li&eacute;es &agrave;
l'arithm&eacute;tique, comme la fonction <a
 href="http://primes.utm.edu/howmany.shtml"> pi(x) </a> qui compte les
nombres premiers jusqu'&agrave; x. Ce peut &ecirc;tre aussi
l'&eacute;valuation de constantes difficiles &agrave; calculer, comme
la densit&eacute; de l'ensemble des <a
 href="http://mathworld.wolfram.com/AbundantNumber.html"> nombres
abondants,</a> ou l'&eacute;tude des champions de certaines fonctions
arithm&eacute;tiques). Si f est une fonction arithm&eacute;tique
r&eacute;elle c'est &agrave; dire une application de l'ensemble
{1,2,3,&hellip;} dans l'ensemble des r&eacute;els, un entier n est un
<dfn>champion</dfn> de f si, quel que soit m &lt; n on a f(m) &lt;
f(n). C'est le math&eacute;maticien indien <a
 href="http://www-groups.dcs.st-and.ac.uk/~history/Biographies/Ramanujan.html">
Ramanujan </a> qui, le premier, s'est int&eacute;ress&eacute; &agrave;
ce type de questions en introduisant les nombres <dfn> hautement
compos&eacute;s</dfn> qui sont les champions de la fonction d(n) qui
compte le nombre des diviseurs de l'entier n.  </p>

<h1>Lumi&egrave;res, couleurs et autochromes</h1>
  <p>
  Lors d'une
  visite au <a href="http://www.institut-lumiere.org/musee_index.html"> mus&eacute;e Lumi&egrave;re</a> &agrave; Lyon,
  j'ai &eacute;t&eacute; emerveill&eacute; par la contemplation de
quelques autochromes illustrant la vie de cette famille ais&eacute;e
du d&eacute;but du 20 &egrave;me si&egrave;cle. D&eacute;sireux de
comprendre le proc&eacute;d&eacute; de fabrication de ces images, et
disposant d'un peu de temps, j'ai pass&eacute; quelques heures
&agrave; clarifier les vagues notions que j'avais &agrave; propos de
la lumi&egrave;re et des couleurs, et pr&eacute;parer ce document,  <a
href="./LumiereCouleurPhoto.html"> Lumi&egrave;res, couleurs et autochromes</a>, &agrave;
l'intention de mes petits enfants ou d'autres curieux.
</p>

<div class="rightp">
 <img src="static/ImagesLumiere/madeleine.jpg" width="100%" alt="Image d'un jeu de 133
  cartes" style="border:solid 1px #000000;"/>
</div>
<div class="leftp">
 <img src="static/ImagesLumiere/naturemorte.jpg" width="98%" alt="Image d'un jeu de 133
  cartes" style="border:solid 1px #000000;"/>
</div>

<h1>Plans projectifs, arithm&eacute;tique modulaire et Dobble</h1>

<p> 
Le jeu de Dobble, &eacute;dit&eacute; par
<a href="http://www.asmodee.com">Asmod&eacute;e</a> est un jeu
s'adressant aux grands et aux petits. Il est constitu&eacute;
de 55 cartes. Sur chacune d'elles sont dessin&eacute;es
8 petites images. La propri&eacute;t&eacute; remarquable de ce
jeu est que deux cartes quelconques ont une, et une seule
image en commun. Pour compliquer un peu, ces deux images
peuvent cependant diff&eacute;rer par leur taille ou leur orientation.
 Voici 2 cartes d'un jeu de 133 cartes. Sur chacune de ces
133 cartes sont dessin&eacute;es 12 images. Ce jeu poss&egrave;de la
meme propri&eacute;t&eacute; que le jeu de Dobble: deux cartes
quelconques ont toujours une et une seule image en commun.
Cherchez l'image commune &agrave; ces deux cartes. 
</p>

<div class="rightp">
 <img src="static/Images/copie77.png" width="100%" alt="Image d'un jeu de 133
  cartes" style="border:solid 1px #000000;"/>
</div>
<div class="leftp">
 <img src="static/Images/copie120.png" width="100%" alt="Image d'un jeu de 133
  cartes" style="border:solid 1px #000000;"/>
</div>


<p> La propri&eacute;t&eacute; satisfaite par les cartes d'un jeu de
Dobble &eacute;voque la propri&eacute;t&eacute; des droites d'un plan
projectif: <em> Deux droites distinctes se coupent en un point et un
seul</em>. Ceci permet de construire simplement un jeu de Dobble en
partant d'un plan projectif fini P et d'un ensemble d'images.  On
commence par associer une image &agrave; chaque point de P. Ensuite,
pour chaque droite D de P, on fabrique une carte, sur laquelle on
dessine les images associ&eacute;es aux points de D.  </p>

<p> Ceci est une excellente occasion d'introduire des objets
math&eacute;matiques importants: l'<em>arithm&eacute;tique modulaire</em>, les
<em>nombres premiers</em>, les <em>corps finis</em> et les <em>plans
projectifs</em>. Le <a
 href="./PDF/dobble.pdf"> document dobble.pdf</a>, 11 pages du niveau
des classes secondaires, explicite les d&eacute;tails de cette
construction.  Voici enfin un <a  href="./Game11"> lien sur un dossier</a>
contenant les 133 images du jeu dont sont
tir&eacute;es les deux cartes ci-dessus.
</p>

<h1>Universit&eacute; Ouverte de  Lyon</h1>
<p>
<a href="./PDF/crypto18_12_2012handout.pdf">Comment
  l'arithm&eacute;tique est devenue science appliqu&eacute;e</a>,
  transparents de l'expos&eacute; du 18 octobre 
  2012 &agrave; la biblioth&egrave;que Marie Curie de l'INSA de Lyon.
</p>
<br/>


</div>


<p>
<a href="http://validator.w3.org/check?uri=referer"><img
src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
</p>